################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/get_virtual_key_code
/moving_test_py
/OpenCVProject
